/* fixme: rename choose_slider_items to animated-slider or something */

li.previous_item img.moviePosterWide {transform: perspective( 400px ) rotateY( -25deg ); -webkit-transform: perspective( 400px ) rotateY( -25deg );}
li.next_item img.moviePosterWide {transform: perspective( 400px ) rotateY( 25deg ); -webkit-transform: perspective( 400px ) rotateY( 25deg );}
li.previous_item_2 img.moviePosterWide {transform: perspective( 400px ) rotateY( -40deg ); -webkit-transform: perspective( 400px ) rotateY( -40deg );}
li.next_item_2 img.moviePosterWide {transform: perspective( 400px ) rotateY( 40deg ); -webkit-transform: perspective( 400px ) rotateY( 40deg );}
img.previousMovieGroup{transform: perspective( 445px ) rotateY( 40deg ); -webkit-transform: perspective( 445px ) rotateY( 40deg ); opacity: 0.15; max-width: 100%; height: 210px;}
img.nextMovieGroup{transform: perspective( 445px ) rotateY( -40deg ); -webkit-transform: perspective( 445px ) rotateY( -40deg ); opacity: 0.15; max-width: 100%; height: 210px;}
.choose_slider_items .current_item {
	display: block;
	position: absolute;
	
	transform: scale(1.0,1.0);
	-moz-transform: scale(1.0,1.0);
	-ms-transform: scale(1.0,1.0);
	-webkit-transform: scale(1.0,1.0);
	top: 0;
	left: 39%;
	z-index: 100;
}
img.thumbnail:hover , img.thumbnail:active, img.thumbnail:focus {
	box-shadow: 0 0 44px #54A0FC;
}
.choose_slider_items li {
	position: relative;
	list-style: none;
	display: none;
	text-align: center;

	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}

.choose_slider_items .previous_item {
	display: block;
	transform: scale(0.6,0.6);
	transform: perspective( 400px ) rotateY( 45deg );
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	opacity: 0.40;
	position: absolute;
	top: 8px;
	left: 15%;
	z-index: 0;
}

.choose_slider_items .next_item {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	opacity: 0.40;
	position: absolute;
	top: 8px;
	left: 63%;
	z-index: 0;
}

.choose_slider_items .previous_hidden {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	opacity: 0.0;
	position: absolute;
	top: 8px;
	left: 15%;
	z-index: 0;
}

.choose_slider_items .next_hidden {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	opacity: 0.0;
	position: absolute;
	top: 10px;
	left: 63%;
	z-index: 0;
}

.choose_slider_items .previous_item_2 {
	display: block;
	transform: scale(0.3,0.3);
	-moz-transform: scale(0.3,0.3);
	-ms-transform: scale(0.3,0.3);
	-webkit-transform: scale(0.3,0.3);
	opacity: 0.10;
	position: absolute;
	top: 10px;
	left: 3%;
	z-index: 0;
}

.choose_slider_items .next_item_2 {
	display: block;
	transform: scale(0.3,0.3);
	-moz-transform: scale(0.3,0.3);
	-ms-transform: scale(0.3,0.3);
	-webkit-transform: scale(0.3,0.3);
	opacity: 0.10;
	position: absolute;
	top: 10px;
	left: 74%;
	z-index: 0;
}